<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_app_page</title>
</head>
<body>
    {{ now }}
     <h1>GENRE</h1>
     <table border = '1px'>
     <tr>
     <th>pk</th><th>name</th><th>description</th>
     </tr> 
     {% for genre in genre  %}
        <tr>
            <td>{{genre.pk}}</td><td>{{genre.name}}</td><td>{{genre.description}}</td>
        </tr>
     {% endfor %}
     
     </table>

     <h1>BOOK</h1>
     <table border = '1px'>
     <tr>
     <th>pk</th><th>name</th><th>description</th><th>genre</th><th>created</th><th>updated</th>
     </tr> 
     {% for book in book  %}
        <tr>
            <td>{{book.pk}}</td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.created}}</td>
            <td>{{book.updated}}</td>
        </tr>
     {% endfor %}
     
     </table>

    
</body>
</html>